@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/crimson-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/crimson-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/crimson-bold.woff2') format('woff2');
}

body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// --------------------------------------------------------
// custom scrollbars

::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  // background-color: rgba(20, 20, 20, 0.27);
  // border-left: solid 4px white;

  background-color: #444;
  border-left: solid 4px #111;

  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  // background-color: #5e5e5e;
  background-color: #1c63f2;
  border-radius: 100px;
}

// --------------------------------------------------------
// tailwind

// https://v1.tailwindcss.com/docs/adding-new-utilities
@layer utilities {
  // simple hover over menu (see currency input)
  .nft-dropdown:hover .nft-dropdown-menu {
    display: block;
  }

  // text-shadow
  .text-shadow {
    text-shadow: 1px 1px 2px black;
  }
  .text-shadow-md {
    text-shadow: 2px 2px 4px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 15px 30px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}

// --------------------------------------------------------
// remove updown arrows from html number input

// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Firefox
input[type='number'] {
  -moz-appearance: textfield;
}
